# Windows Sandbox Setup
/scripts/powershell/sandbox/.idea/
/scripts/powershell/sandbox/x_bin/
/scripts/powershell/sandbox/Downloads/

# JetBrains Rider
.idea/
*.sln.iml

# Claude
/.claude/settings.local.json
/.claude/worktrees/
/.docs/.obsidian/

# Temporary files
*.log
*.tmp
*.bak
*.old

/scripts/bash/.claude.json
#/scripts/bash/.bashrc.local

/scripts/powershell/utils/wip/
