# Windows Sandbox Setup
/scripts/powershell/sandbox/.idea/
/scripts/powershell/sandbox/Downloads/

# JetBrains Rider
.idea/
*.sln.iml

# Claude
/.claude/settings.local.json
/.claude/worktrees/
/.docs/.obsidian/
/CLAUDE.md

# Temporary files
*.log
*.tmp
*.bak
*.old

/scripts/bash/.claude.json
/scripts/bash/.bashrc.local

# Exclude any build pattern specific folders
**/v[0-9]*.*/
**/v.[0-9]*.*/

# Exclude Staging folders 
/scripts/powershell/sandbox/x_bin/
/scripts/powershell/utils/wip/
/scripts/.docs/.obsidian/