# Windows Sandbox Setup
/scripts/powershell/sandbox/.idea/
/scripts/powershell/sandbox/x_bin/
/scripts/powershell/sandbox/Downloads/

# JetBrains Rider
.idea/
*.sln.iml

# Logs and temporary files
*.log
*.tmp
*.bak
*.old
